@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
}

body {
  background-image: url(../img/bg-desktop.png);
  background-color: hsl(0, 100%, 74%);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: hsl(248, 32%, 49%);
  /* width: fit-content; */
  font-size: 1.6rem;
  padding: 2rem 4rem;
  color: white;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 8%;
  margin-bottom: 1rem;
  max-width: 55rem;
  /* max-width: 60%; */
  text-align: center;

  color: hsl(246, 25%, 77%);
}

h1 span {
  /* color: red; */
  font-weight: 400;
}

form {
  background-color: white;
  /* width: fit-content; */
  border-radius: 0.5rem;
  margin: 0 auto;
  max-width: 55rem;
  /* max-width: 60%; */
  padding: 1rem 0;
}

.formTop div:not(:last-child) p {
  color: red;
  font-weight: 500;
}

.formTop input {
  display: block;
  /* margin: 0 auto; */
  width: 90%;
  margin: 4rem auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(246, 25%, 77%);
}

.inputFirst,
.inputLast,
.inputEmail,
.inputPassword {
  position: relative;
  /* border: 2px solid red; */
  /* border-style: hidden; */
}

.formTop input:focus {
  border: 5px solid rgb(115, 140, 221);
  outline: none;
}
.inputFirst img {
  position: absolute;
  top: 1rem;
  right: 4rem;
}

.inputFirst p {
  position: absolute;
  top: 5.5rem;
  right: 3rem;
}

.inputLast img {
  position: absolute;
  top: 1rem;
  right: 4rem;
}
.inputLast p {
  position: absolute;
  top: 5.5rem;
  right: 3rem;
}
.inputEmail img {
  position: absolute;
  top: 1rem;
  right: 4rem;
}
.inputEmail p {
  position: absolute;
  top: 5.5rem;
  right: 3rem;
}

.inputPassword img {
  position: absolute;
  top: 1rem;
  right: 4rem;
}
.inputPassword p {
  position: absolute;
  top: 5.5rem;
  right: 3rem;
}

input::placeholder {
  font-weight: 600;
  padding-left: 1rem;
}

.formBottom input,
.formBottom button {
  display: block;
  /* margin: 0 auto; */
  width: 90%;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(246, 25%, 77%);
}

form p {
  text-align: center;
  color: hsl(246, 25%, 77%);
  font-weight: 700;
  padding-bottom: 1.5rem;
}
form p span {
  color: red;
}

button {
  background-color: hsl(154, 59%, 51%);
  color: white;
  width: 90%;
  font-weight: 600;
}

.bottom {
  margin-top: 2;
  padding-bottom: 20rem;
}

.headerbottom {
  background-color: hsl(248, 32%, 49%);
  /* width: fit-content; */
  font-size: 1.6rem;
  padding: 2rem 4rem;
  color: white;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 1rem;
  max-width: 55rem;
  /* max-width: 60%; */
  text-align: center;

  color: hsl(246, 25%, 77%);
}

formBottom {
  background-color: white;
  /* width: fit-content; */
  border-radius: 0.5rem;
  margin: 0 auto;
  max-width: 55rem;
  /* max-width: 60%; */
  padding: 1rem 0;
}

.formBottom input:focus {
  border: 5px solid rgb(94, 168, 94);
  outline: none;
}
input::placeholder {
  font-weight: 600;
  padding-left: 1rem;
}

input,
button {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(246, 25%, 77%);
}
